body {
    background-color: gray;
    margin: 0;
}

div {
  width: 50px;
  height: 50px;
  color: #020231!important;
  background-color: rgb(22, 170, 22);
}

a {
    font-size: small;
    color: blue;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:hover {
    font-size: medium;
    color: red;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:active {
    font-size: smaller;
    color: black;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.all-screen {
    width: 100%;
}

.red {
  border: 1px solid rgb(37, 1, 1);
  color: rgb(185, 40, 40)!important;
  background-color: rgb(90, 7, 7);
}

.blue {
  color: rgb(185, 40, 40);
  background-color: rgb(90, 7, 7);
}

.font-strong {
  font-weight: bolder;
  font-size: x-large;
  color: black;
}

p.stylish::first-letter {
    color: black;
    font-weight: bolder;
    font-size: 150px;
    font-family: 'Monsieur La Doulaise', cursive;
}

p.stylish {
    color: black;
    font-weight: normal;
    font-size: 100px;
    font-family: 'Pacifico', cursive;
}

div.father {
    background-color: cadetblue;
    color: darkblue;
}

div.father > div.son {
    background-color: burlywood;
    color: red;
}

div[size] {
    background: darkslategray;
}

div[size="5"] {
    background: darkmagenta;
}

#principal {
    font-size: 50px;
    color: black;
    background-color: white;

    width: 60%;
    height: 60%;
}

.circle {
    padding: 25px;
    text-align: center;
    border-radius: 100%;
    margin: 25px 10px 5px 35px;
}