body {
  margin: 0;
}

header {
  position: relative;
  background-color: tomato;
  text-align: center;
  z-index: 10;
  -webkit-box-shadow: 3px 6px 35px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 6px 35px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 6px 35px -2px rgba(0, 0, 0, 0.75);
}

article {
  -webkit-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.75);
  display: inline-block;
  background-color: midnightblue;
  color: yellowgreen;
  width: 100%;
  margin-top: 5px;
}

div.header {
  -webkit-box-shadow: 0px 3px 6px 1px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 3px 6px 1px rgba(255, 255, 255, 1);
  box-shadow: 0px 3px 6px 1px rgba(255, 255, 255, 1);
  top: 0;
  z-index: 10;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  background-color: white;
  height: 30px;
}

div.pop-up {
  z-index: 100;
  position: fixed;
  left: 35%;
  top: 40%;
  background-color: red;
  color: yellow;
  width: 200px;
  height: 200px;
}

div.fog {
  position: fixed;
  top: 0;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.644);
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 750px) {
  header {
    text-align: left;
  }

  article {
    display: inline-block;
    background-color: black;
    color: white;
    width: 49%;
    margin-top: 10px;
  }
}

@media only screen and (min-width: 1100px) {
  header {
    text-align: left;
  }

  article {
    display: inline-block;
    background-color: black;
    color: white;
    width: 24%;
    margin-top: 10px;
  }
}

@media print and (min-width: 0px) {
  * {
    color: black;
  }
  div {
    color: transparent;
  }
  header {
    text-align: left;
    visibility: hidden;
  }

  article {
    display: inline-block;
    background-color: black;
    color: white;
    width: 49%;
    margin-top: 10px;
  }
}
