@main-bg-color: rgb(68, 6, 6);
@main-f-color: rgb(187, 187, 233);

@main-font: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;

div.container {
  font-family: @main-font;
  margin: 10px;
  & > div.mains-news {
    background-color: @main-bg-color;
    & > h2 {
      color: @main-f-color;
    }
  }
}
