div.container {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 10px;
}
div.container > div.mains-news {
  background-color: #440606;
}
div.container > div.mains-news > h2 {
  color: #bbbbe9;
}
