input[type="text"] {
  color: pink;
}

input[type="password"],
input[type="text"],
input[type="number"],
input[type="email"] {
  border-radius: 5px;
  border: 1px solid #c3c3c3;
  color: #181818;
}

input.form-error {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: 2px solid red;
}

.form-group {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  font-size: 12px;
}

.form-group[required] label::after {
  content: "*";
  color: red;
}

#error-message {
    background-color: #f16060;
    border:  #c53232 solid 2px;
    border-radius: 5px;
    height: 50px;
    width: 200px;
    padding: 3px;
    font-size: 12px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hide {
    display: none;
}