/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/11/2020, 08:28:53 PM
    Author     : magoc
*/

.card a {
    text-decoration: none;
    color: black;
}

div.media img {
    max-width: 64px;
    max-height: 64px;
}

#comment-container {
    background-color: #c3c3c3;
    border-radius: 5px;
}
